{{!< layout}}
<div id="message" class="ac-content">
    <div class="aui-message aui-message-error">
        <p class="title">
            <strong>Error!</strong>
        </p>
        <p>{{message}}</p>
    </div>
    <script type="text/javascript">
        var $message = $("#message");
        var width = $message.width();
        var height = $message.height();
        AP.resize(width,height);
    </script>
</div>
