{{!< layout}}
<div class="ac-content">
    <img style="display:block" width="{{gifWidth}}" height="{{gifHeight}}" id="gif" src="{{ gifUrl }}"/>
    <script type="text/javascript">
        AP.resize({{gifWidth}}, {{gifHeight}});
    </script>
</div>
